<!DOCTYPE html>
<html lang="en" style="scroll-behavior: smooth;">

<head>
    <meta charset="UTF-8">
    {{!-- Stylesheets & Fonts --}}
    <link href="../../public/breadstyles.css" rel="stylesheet">
    <title>Buzzzzzzzzzzzzzzzzzzzzzzzzz (Name tentative)</title>

    {{!-- Add script files --}}
    <script src="/public/js/front-end.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    {{!-- Body --}}
    {{{body}}}
</body>

</html>