<h1>The Personality Sandwich</h1>
<p>Make a sandwich to find out a very accurate description of yourself :D</p>
<br>

<img src="./public/images/sammich.png" alt="Yummy Sandwich" width="570" height="435">
<br>
<br>

<!--STARTING THE QUIZ!!!!-->


<form onsubmit="evaluate()">
    <!--Breads-->
    <p>Choose your bread!</p>
    <table style="width:60%">
        <tr>
            <th><input type="radio" id="white" name="bread" value=1>
                <label for="white">White</label></th>
            <th><input type="radio" id="rye" name="bread" value=4>
                <label for="rye">Rye</label></th>
        </tr>
        <tr>
            <th><img src="./public/images/white-bread.png" alt="White Bread"></th>
            <th><img src="./public/images/rye.png" alt="Rye Bread"></th>
        </tr>
        <tr>
            <th><input type="radio" id="wholeWheat" name="bread" value=2>
                <label for="wholeWheat">Whole Wheat</label></th>
            <th><input type="radio" id="wholeWheat" name="bread" value=2>
                <label for="wholeWheat">Whole Wheat</label></th>
        </tr>
        <tr>
            <th><img src="./public/images/wholewheat.png" alt="Whole Wheat Bread"></th>
            <th><img src="./public/images/sourdough.jpg" alt="Sourdough Bread"></th>
        </tr>
    </table>
    <br>

    <!--Meats-->
    <p>Choose your meat!</p>
    <table style="width:60%">
        <tr>
            <th><input type="radio" id="bologna" name="meat" value=3>
                <label for="bologna">Bologna</label></th>
            <th><input type="radio" id="bacon" name="meat" value=4>
                <label for="bacon">Bacon</label></th>
        </tr>
        <tr>
            <th><img src="./public/images/bologna.png" alt="Bologna" width="256" height="256"></th>
            <th><img src="./public/images/bacon.png" alt="Bacon" width="256" height="256"></th>
        </tr>
        <tr>
            <th><input type="radio" id="turkey" name="meat" value=2>
                <label for="turkey">Turkey</label></th>
            <th><input type="radio" id="ham" name="meat" value=1>
                <label for="ham">Ham</label></th>
        </tr>
        <tr>
            <th><img src="./public/images/turkey.png" alt="Turkey" width="256" height="256"></th>
            <th><img src="./public/images/ham.png" alt="Ham" width="256" height="256"></th>
        </tr>
    </table>
    <br>

    <!--Cheeses-->
    <p>Choose your cheese!</p>
    <table style="width:60%">
        <tr>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <th><input type="radio" id="turkey" name="meat" value=2>
                <label for="turkey">Turkey</label></th>
            <th><input type="radio" id="ham" name="meat" value=1>
                <label for="ham">Ham</label></th>
        </tr>
        <tr>
            <th><img src="./public/images/turkey.png" alt="Turkey" width="256" height="256"></th>
            <th><img src="./public/images/ham.png" alt="Ham" width="256" height="256"></th>
        </tr>
    </table>
    <br>
    <div>
        <input type="radio" id="cheddar" name="cheese" value=2>
        <label for="cheddar">Cheddar</label>
        <br>
        <img src="./public/images/cheddar.png" alt="Cheddar Cheese" width="256" height="256">
        <br>

        <input type="radio" id="provolone" name="cheese" value=3>
        <label for="provolone">Provolone</label>
        <br>
        <img src="./public/images/provolone.png" alt="Provolone Cheese" width="256" height="256">
        <br>

        <input type="radio" id="american" name="cheese" value=1>
        <label for="american">American</label>
        <br>
        <img src="./public/images/americano.png" alt="American Cheese" width="256" height="256">
        <br>

        <input type="radio" id="swiss" name="cheese" value=4>
        <label for="swiss">Swiss</label>
        <br>
        <img src="./public/images/swiss.png" alt="Swiss Cheese" width="256" height="256">
        <br><br>
    </div>

    <!--Vegetals-->
    <p>Choose your veggies!</p>
    <div>
        <input type="radio" id="lettuce" name="veggie" value=1>
        <label for="lettuce">Lettuce</label>
        <br>
        <img src="./public/images/lettuce.png" alt="Lettuce" width="256" height="256">
        <br>

        <input type="radio" id="tomato" name="veggie" value=2>
        <label for="tomato">Tomato</label>
        <br>
        <img src="./public/images/tomato.png" alt="Tomato" width="256" height="256">
        <br>

        <input type="radio" id="pickle" name="veggie" value=4>
        <label for="pickle">Pickles</label>
        <br>
        <img src="./public/images/pickle.png" alt="Pickle" width="256" height="256">
        <br>

        <input type="radio" id="cucumber" name="veggie" value=3>
        <label for="cucumber">Cucumber</label>
        <br>
        <img src="./public/images/cucumber.png" alt="Cucumber" width="256" height="256">
        <br><br>
    </div>

    <!--Heat Type-->
    <p>How would you like your sandwich heated?</p>
    <div>
        <input type="radio" id="none" name="hType" value=1>
        <label for="none">None</label>
        <br>
        <img src="./public/images/untoasted.png" alt="Untoasted" width="256" height="256">
        <br>


        <input type="radio" id="light" name="hType" value=2>
        <label for="light">Lightly Toasted</label>
        <br>
        <img src="./public/images/light.png" alt="Lightly Toasted" width="256" height="256">
        <br>

        <input type="radio" id="grilled" name="hType" value=3>
        <label for="grilled">Grilled</label>
        <br>
        <img src="./public/images/grilled.png" alt="Grilled" width="256" height="256">
        <br>

        <input type="radio" id="burnt" name="hType" value=4>
        <label for="burnt"><strong>BURNT</strong></label>
        <br>
        <img src="./public/images/burnt.jpg" alt="BURNT" width="256" height="256">
        <br><br>
    </div>

    <!--Put it together-->
    <p>How will you choose to hold your sandwich together?</p>
    <div>
        <input type="radio" id="plastic" name="holdIt" value=1>
        <label for="plastic">Plastic Wrap</label>
        <br>
        <img src="./public/images/plastic.png" alt="Plastic" width="256" height="256">
        <br>

        <input type="radio" id="napkin" name="holdIt" value=2>
        <label for="napkin">A Napkin</label>
        <br>
        <img src="./public/images/napkin.png" alt="Napkin" width="256" height="256">
        <br>

        <input type="radio" id="toothpick" name="holdIt" value=3>
        <label for="toothpick">A Toothpick</label>
        <br>
        <img src="./public/images/toothpick.png" alt="Toothpick" width="256" height="256">
        <br>

        <input type="radio" id="failure" name="holdIt" value=4>
        <label for="failure">Succumb to the inevitable collapsing</label>
        <br>
        <img src="./public/images/failure.png" alt="A Mess" width="256" height="256">
        <br><br>
    </div>
    <input type="submit" value="Submit">
</form>